<MudDialog MaxWidth="MaxWidth.Large" FullWidth="true">
    <DialogContent>
        <MudCarousel ShowArrows="false" TData="string" Class="pa-4" Style="max-height: 70vh; height: 500px;">
            @foreach (var img in Images)
            {
                <MudCarouselItem>
                    <div class="d-flex justify-center align-center" style="height: 100%;">
                        <img src="@img" alt="Ürün Resmi"
                             style="max-width: 100%; max-height: 100%; object-fit: contain;" />
                    </div>
                </MudCarouselItem>
            }
        </MudCarousel>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Kapat</MudButton>
    </DialogActions>
</MudDialog>


<style>
    .image-dialog .mud-dialog-content {
        padding: 0 !important;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #f5f5f5;
    }

    .carousel-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 4px;
    }

   
</style>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter] public List<string> Images { get; set; } = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
