<MudDialog>
    <TitleContent>
        <div style="font-size: 1.5rem; font-weight: bold;">
            @TitleText
        </div>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1">@ContentText</MudText>

        <MudCardActions Class="mt-4">
            <MudButton OnClick="Yes" Color="@Color">Evet</MudButton>
            <MudButton OnClick="No" Color="Color.Default">Hayır</MudButton>
        </MudCardActions>
    </DialogContent>
</MudDialog>

                                                                                                                                                                                                                                                



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string TitleText { get; set; }
    [Parameter] public string ContentText { get; set; }
    [Parameter] public Color Color { get; set; } = Color.Primary;

    private void Yes() => MudDialog.Close(DialogResult.Ok(true));
    private void No() => MudDialog.Cancel();
}
